.absolute {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 712px;
  top: 0;
  height: 428px;
  background-color: rgba(45, 226, 9, 0.7);
  clip-path: polygon(0% 0%,
      0% 100%,
      84% 100%,
      99.43% 36.99%,
      99.61% 36.16%,
      99.76% 35.32%,
      99.86% 34.48%,
      99.93% 33.63%,
      99.96% 32.79%,
      99.96% 31.95%,
      99.92% 31.11%,
      99.84% 30.27%,
      99.72% 29.45%,
      99.57% 28.63%,
      99.38% 27.82%,
      99.16% 27.03%,
      98.90% 26.25%,
      98.61% 25.49%,
      98.29% 24.75%,
      97.93% 24.03%,
      97.53% 23.33%,
      97.11% 22.65%,
      96.65% 22.00%,
      80.2% 0%);

}

svg {
  opacity: 1;
}

body {
  position: relative;
  background-color: black;
}